{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_messages %}

{% block content %}
<html lang="en">
<head>
  <title>Blog Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="padding-top: 0px;background-color: #f5f7f8 !important;">
	<div class="container">

		<h2>Blogs</h2>
		<hr>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Blog Title</th>
        <th>Posted On</th>
        <th>Description</th>
		  <th>Posted By</th>
		  <th>Edit</th>
		  <th>Delete</th>
      </tr>
    </thead>
    <tbody>
	{% for post in adminblog %}
			{% if post.is_deleted == False %}
	        <tr>
				<td><h5 class="card-title">{{ post.blog_title }}</h5></td>
            <td><p class="card-text">{{ post.time_stamp }}</p></td>
            <td><p class="card-body">{{ post.post_here }}</p></td>
			<td><p class="card-text">{{ post.posted_by }}</p></td>
			<td><a href="/users/edit/{{post.id}}">Edit{{post.id}}</a></td>
			<td><a href="/users/delete/{{post.id}}">Delete{{post.id}}</a></td>
            </tr>
			{% else %}
			<tr>
				<td><h5 class="card-title">{{ post.blog_title }}</h5></td>
            <td><p class="card-text">{{ post.time_stamp }}</p></td>
            <td><p class="card-body">{{ post.post_here }}</p></td>
			<td><p class="card-text">{{ post.posted_by }}</p></td>
			<td><a href="/users/edit/{{post.id}}">Edit{{post.id}}</a></td>
			<td>Deleted</td>
            </tr>
			{% endif %}
            {% endfor %}
    </tbody>
  </table>




</div>

</body>

</html>

{% endblock content %}
