{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_messages %}

    {% block content %}
<html lang="en">

<head >

	<title>Index Page</title>

	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>#bg{
    background-size: 2000px 1100px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}</style>

</head>

<body id="bg" style="background-image: url('{% static "images/1.jpeg"%}')";>
	<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
		<h1 style="color:silver">Welcome</h1>

		</div>
	</div>
</div>

</body>

</html>

{% endblock content %}
