{% load static %}

  <aside class="left-sidebar scrollable ps-container ps-theme-default ps-active-y" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'users:blogpost' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Post Blogs here</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'users:myblog' %}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Blogs Posted Me</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'users:adminblog' %}" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Blogs Posted By All Users</span></a></li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
